.navbarContainer {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border-bottom: 1px solid #f1f1f1;
}

.navChild {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 28px;
  padding-top: 5px;
  width: 33%;
}

.logoContainer {
  width: 24px;
  max-height: 14px;
  height: 80%;
  margin-bottom: 22px;
}
.recommend {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.logoText {
  text-align: center;
  min-width: 33%;
}

.desktopOptions {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .navbarContainer {
    border-bottom: none;
    padding: 2% 0%;
    width: 90%;
    margin: 20px auto;
  }

  .hamburger {
    display: none;
  }

  .desktopOptions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .navChild {
    gap: 1em;
  }
}
