.productContainer {
  margin: 16px;
}

.imageContainer {
  height: 224px;
  width: 168px;
  padding: 1px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.productTitle {
  width: 120px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productInfo {
  display: flex;
  justify-content: space-between;
}

.signIn {
  text-decoration: underline;
}

/* @media only screen and (min-width: 1024px) {
  .imageContainer {
    height: 399px;
    max-width: 300px;
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
  }
} */
