.productContainer {
  margin: 16px auto;
}

.imageContainer {
  height: 224px;
  max-width: 168px;
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  margin-bottom: 10px;
}

.productTitle {
  width: 120px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productInfo {
  display: flex;
  justify-content: space-between;
}

.signIn {
  text-decoration: underline;
}

@media only screen and (min-width: 725px) {
  .imageContainer {
    height: 300;
    max-width: 225px;
  }
}

@media only screen and (min-width: 1024px) {
  .imageContainer {
    height: 399px;
    max-width: 300px;
  }
}
